*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    outline: none;

}
#box{
    width: 500px;
    height: 100px;

    
}
h1{
    color: white;
    font-size: 25px;
}
#box1{
    width: 500px;
    padding: 30px;
    margin-left: 400px;
    margin-top: 150px;
    background-color: rgb(16, 16, 186);
    box-shadow: inset 0px 3px 8px blue,
                  5px 8px 10px darkblue;
     
}

input{
    padding: 10px;
    width: 360px;
    border: none;
    border-radius: 2px;

}

#but:hover{
    border:2px solid red;
}
#but{
    width: 70px;
    padding: 8px;
    background-color: rgb(226, 24, 24);
    color:white;
    border-radius: 5px;
    cursor: pointer;

}
#para{

    border: 1px solid black;
    background-color: aliceblue;
    margin-top: 20px;
}

/* #box2{
    height: 50px;
    width: 500px;
    margin-left: -30px;
    margin-top: 30px;
    background-color: whitesmoke;
    margin-bottom: 30px;
    border: 1px solid grey;
    border-radius: 5px;
} */